<!DOCTYPE html>
<html>
  <head>
    <title>查询结果</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your score here:</h1>
    <p><%= name %></p>
    <p><%= school %></p>
    <p><%= type %></p>
    <p><%= number %></p>
    <p><%= time %></p>
    <p><%= score %></p>
  </body>
</html>
